
<header id="header" class="header fixed-top d-flex align-items-center">

		<div class="d-flex align-items-center justify-content-between">
		<a href="/admin/home" class="logo d-flex align-items-center">
			{{!-- <img src="assets/img/logo.png" alt=""> --}}
			<span class="d-none d-lg-block">Admin Area</span>
		</a>
		<i class="bi bi-list toggle-sidebar-btn"></i>
		</div><!-- End Logo -->

		{{!-- <div class="search-bar">
		<form class="search-form d-flex align-items-center" method="POST" action="#">
			<input type="text" name="query" placeholder="Search" title="Enter search keyword">
			<button type="submit" title="Search"><i class="bi bi-search"></i></button>
		</form>
		</div> --}}

		<nav class="header-nav ms-auto">
		<ul class="d-flex align-items-center">

			{{!-- <li class="nav-item d-block d-lg-none">
			<a class="nav-link nav-icon search-bar-toggle " href="#">
				<i class="bi bi-search"></i>
			</a>
			</li>  --}}
			

			<li class="nav-item dropdown pe-3">

			<a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
				<img src="https://eu.ui-avatars.com/api/?name={{fn}}+{{ln}}&size=250" alt="Profile" class="rounded-circle" />
				<span class="d-none d-md-block dropdown-toggle ps-2">
					<b id="lname">{{ln}}</b>
					<span>{{fn}}</span>
				</span>
			</a><!-- End Profile Iamge Icon -->

			<ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
				<li class="dropdown-header">
				<h6>{{ln}} {{fn}}</h6>
				<span>{{role}} Admin</span>
				</li>
				<li>
				<hr class="dropdown-divider">
				</li>

				<li>
				<a class="dropdown-item d-flex align-items-center" href="/admin/profile">
					<i class="bi bi-person"></i>
					<span>My Profile</span>
				</a>
				</li>
				<li>
				<hr class="dropdown-divider">
				</li>

				<li>
				<a class="dropdown-item d-flex align-items-center" href="#" id="logout">
					<i class="bi bi-box-arrow-right"></i>
					<span>Log Out</span>
				</a>
				</li>

			</ul><!-- End Profile Dropdown Items -->
			</li><!-- End Profile Nav -->

		</ul>
		</nav><!-- End Icons Navigation -->

</header>

<aside id="sidebar" class="sidebar">

	<ul class="sidebar-nav" id="sidebar-nav">

	<li class="nav-item">
		<a class="nav-link " href="/admin/home">
		<i class="bi bi-grid"></i>
		<span>Dashboard</span>
		</a>
	</li><!-- End Dashboard Nav -->

	<li class="nav-item">
		<a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
		<i class="bi bi-person"></i><span>Admin</span><i class="bi bi-chevron-down ms-auto"></i>
		</a>
		<ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
		<li>
			<a href="/admin/register">
			<i class="bi bi-circle"></i><span>Register</span>
			</a>
		</li>
		<li>
			<a href="/admin/users">
			<i class="bi bi-circle"></i><span>Admin users</span>
			</a>
		</li>
		</ul>
	</li><!-- End Components Nav -->

	<li class="nav-item">
		<a class="nav-link collapsed" target="_blank" href="#">
		<i class="bi bi-journal-text"></i><span>Survey</span>
		</a>
	</li>
	<li class="nav-item">
		<a class="nav-link collapsed" target="_blank" href="https://docs.google.com/spreadsheets/d/1BuVa8qmUnAyEIZPCncrAieG3V49Wy9TW3ub0DOSOazI/edit?resourcekey#gid=416479247">
		<i class="bi bi-file-earmark-excel"></i><span>Excel file</span>
		</a>
	</li>
	<!-- End Forms Nav -->

	</ul>

</aside>




<main id="main" class="main">

    <div class="pagetitle">
      <h1>Admin users</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item">Home</a></li>
          <li class="breadcrumb-item active">Admin users</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <div class="col-12">
    <div class="card top-selling overflow-auto">

    <div class="card-body pb-0">
        <h5 class="card-title">Top Selling <span>| Today</span></h5>

        <table class="table table-borderless">
        <thead>
            <tr>
            <th scope="col">Profile</th>
            <th scope="col">Full name</th>
            <th scope="col">Role</th>
            <th scope="col">Joined on</th>
            <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
			{{#each users}}
            <tr>
                <td scope="row"><a href="#"><img src="https://eu.ui-avatars.com/api/?name={{firstname}}+{{lastname}}&size=30" alt="avatar"></a></td>
                <td>{{firstname }} {{lastname}}</td>
                <td> {{role}} </td>
                <td class="createdAt"> {{createdAt}} </td>
                <td class="fw-bold">
                    <a href="#" data-bs-id="{{id}}" class="btn btn-danger delete_admin" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="bi bi-trash"></i></a>
                </td>
            </tr>
			{{/each}}
        </tbody>
        </table>

    </div>

    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Action required</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cancel"></button>
      </div>
      <div class="modal-body">
        Do you really want to delete this Admin User?
      </div>
	  <input type="hidden" value="" id="user_id" />
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary yes">Yes</button>
      </div>
    </div>
  </div>
</div>


</main>



<script>
	//Date formating 
	$('.createdAt').each(function(index, obj)
	{
		$(this).text($(this).text().slice(0,17))
	})



	//= = MODAL = = 
	$('#exampleModal').on('show.bs.modal', (e)=> 
	{
		// Button that triggered the modal
		const button = e.relatedTarget

		// Extract info from data-bs-* attributes
		const id = button.getAttribute('data-bs-id')

		//Insert user_id input value 
		$('#user_id').val(id)
		
	})


	//Manage on click 'YES' - MODAL
	$('.yes').on('click', ()=>
	{
		//Send to the server for further treatment  
		$.ajax({
			type: 'POST',
			url: '/admin/delete', 
			data: { 
				user_id : $('#user_id').val()
			},
			success: function(res)
			{
				console.log(res)
				if(res == 'all good')
				{
					$.toast({
						heading: 'Success',
						text: 'Admin user deleted successfuly',
						position: 'top-right',
						icon: 'success',
						hideAfter: 2000,
						loader: true, 
						stack: false
					})
					//Delay page reload 
					setTimeout(function(){
						window.location = 'users'
						
					}, 1800)
				}
				else if(res == 'unauthorized'){
					$.toast({
						heading: 'Access denied',
						text: 'You are not allowed to delete a User',
						position: 'top-right',
						icon: 'warning',
						hideAfter: 3500,
						loader: true, 
						stack: false
					})
                }
				else if(res == 'deleteMyAccount'){
					$.toast({
						heading: 'You have deleted your account',
						text: 'You are being redirected to the Login page',
						position: 'top-right',
						icon: 'error',
						hideAfter: 4000,
						loader: true, 
						stack: false
					})
					//Delay page reload 
					setTimeout(function(){
						window.location = '/admin/accountDeleted'
						
					}, 3300)
                }
				else 
				{
					$.toast({
						heading: 'Error',
						text: 'Something went wrong, Please try again',
						position: 'top-right',
						icon: 'error',
						hideAfter: 5000,
						loader: true, 
						stack: false
					})
				}
					
			}, error: function(e){
				console.log(e)
			}
		})//End Ajax
		
	}) //End YES EVENT 


</script>