<div class="px-4 py-5 my-5 text-center">
    <div class="spinner-grow text-primary" style="width: 5rem; height: 5rem;" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
    <h3 class="display-5 fw-bold">Processing..</h3>

    {{!-- <div class="d-flex">
        <h4 id="min" class="bg-dark">10 : </h4>
        <h4 id="sec" class="bg-dark">20</h4>
    </div> --}}

    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">You will be notified by <b>SMS</b> or <b>MTN Mobile APP</b> to confirm the transaction. Kindly make the payment in order to complete your transaction.</p>
        <p class="lead mb-4">Please do not refresh the page or click the "Back" or "Close" button of your browser.</p>

        {{!-- Hidden inputs holding the status of the transaction --}}
        {{!-- <p  id="transactionID" class="d-none">{{transactionID}}</p>
        <p  id="number" class="d-none">{{user_number}}</p>

        <p style="display: none;" id="trans_para">Transaction - <b id="transaction_status">{{transaction_status}}</b></p> --}}

        <p class="fs-2 text-info"><span id="timer"></span></p>

        {{!-- Hidden inputs holding the status of the transaction --}}
        <p  id="trans_id" class="d-none">{{trans_id}}</p>
        <p  id="trans_status" class="d-none">{{trans_status}}</p>

        {{!-- <p style="display: none;" id="trans_para">Transaction - <b id="transaction_status">{{transaction_status}}</b></p> --}}
        
    </div>
</div>


<script>
   
   //Occasionaly Prevent browser back button  
   window.history.pushState(null, null, window.location.href);
        window.onpopstate = function () {
        window.history.go(1);
    };

    //Transaction deatails
    const transactionID = document.getElementById('trans_id').innerText
    const status = document.getElementById('trans_status').innerText

    //Process function 
    function process() 
    {
        //Transaction FAILED 
        //if(number === '46733123450')
            //Redirect to failure
            //window.location = `/failure/transaction-failed/${transactionID}`;
        
        //Transaction REJECTED 
        //if(number === '46733123451')
            //Redirect to failure
            //window.location = `/failure/transaction-rejected/${transactionID}`;

        
        //Transaction TIMEOUT 
        //if(number === '46733123452')
            //Redirect to failure
            //window.location = `/failure/transaction-timed out/${transactionID}`;


        //If Pending
        if(status == 'PENDING'){ //UNSUCCESSFUL

            //Redirect to failure
            window.location = `/error/0`; //0-timedout | 1/any -internal error 
        }
      
        //If Successful 
        if(status == 'SUCCESSFUL'){

            //Redirect to success
            window.location = `/success`
        }
    } 

    //5s Time out
    setTimeout(process, 10000) //10s ...To be set at 20s later
   
</script>


